<%= form_with(url: sessions_path) do |form| %>
    <div class="  rounded-2xl font-bold cursor-text text-center my-4  py-2 text-orange-400 bg-blue-200 ">
      <%= form.label :login %>
      <%= form.text_field :login, required: true, class:"rounded-2xl text-center text-gray-400"%>
    </div>
  
    <div class="  rounded-2xl font-bold cursor-text text-center my-4  py-2 text-orange-400 bg-blue-200 ">
      <%= form.label :password %>
      <%= form.password_field :password, required: true, class:"rounded-2xl text-center text-gray-400" %>
    </div>
     <div class="  rounded-2xl font-bold cursor-text text-center my-2 py-2 text-orange-600  ">
          <div class="transition ease-in-out delay-150  hover:-translate-y-2 hover:w-full rounded-2xl hover:bg-green-400 duration-300 ... ">    
          <%= form.submit %>
          </div>
    </div>
  <% end %>