
<h1>Productos:</h1>

<div>Fecha: <%= Date.today %></div>
 <div>Total Articulos:
        <%= @products.count %> 
 </div> 




<% @products.each do |product| %>
    <%= link_to product_path(product), class: 'product' do %>
    <%= image_tag @product.image, width: 200 if @product.image.attached? %>
      <h2> <%=product.title %></h2>
      <span><%=product.price %>€</span>
    <% end %>
<% end %>