<h1 class='title rounded-2xl font-bold cursor-text text-center my-4  py-2 text-orange-400 bg-blue-200 '><%= @product.title %></h1>

<%= image_tag @product.image,class:" object-cover " if @product.image.attached? %>

<p class='description'><%= @product.description %></p>

<span class='price'><%= @product.price %>€</span>

<%= link_to t('.edit'), edit_product_path(@product) if @product.owner? %>
<%= link_to t('.delete'), product_path(@product), data: {
  turbo_method: :delete,
  turbo_confirm: t('common.confirm')
  } if @product.owner? %>

<%= link_to t('.view_more_products', username: @product.user.username), user_path(@product.user.username) %>



<%= render partial: 'favorite', locals: { product: @product } %>